//<script type="text/jsx">


function Usuarios() {

    const [dataSource, setDataSource] = useState([]);
      useEffect(listarUsuarios, []);
      const history = useHistory();

      function eliminarUsuario(id) {
    // Muestra una notificación de confirmación antes de eliminar.
        Swal.fire({
          title: '¿Estás seguro?',
          text: "¡No podrás revertir esto!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Sí, eliminar',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            notificacionGuardando("Eliminando usuario");
            google.script.run
              .withSuccessHandler(({ titulo, descripcion }) => {
                notificacionTareaTerminada(titulo, descripcion);
                listarUsuarios(); // Refresca la tabla después de eliminar.
              }).eliminarUsuario(id); // Llama a la función del backend.
          }
        });
      }


      function listarUsuarios() {
        google.script.run
          .withSuccessHandler(res => {
            const usuarios = JSON.parse(res);
            let arreglo = [];

            usuarios.map(usuario => {
              arreglo.push({
                key: usuario.id,
                ... usuario,
                acciones: 
                 (<Space>
                    <Button onClick={() => {
                      history.push("/formularioRegistro/" + usuario.id);
                    }}>Editar</Button>
                    {/* NUEVO BOTÓN DE ELIMINAR */}
                    <Button
                      type="danger" // Estilo de botón de Ant Design.
                      onClick={() => eliminarUsuario(usuario.id)}
                    >
                      Eliminar
                    </Button>
                  </Space>),
              })
            })

            setDataSource(arreglo);

          }).listarUsuarios();
      }


    const columns = [
    {
      title: 'Nombre Completo',
      dataIndex: 'nombreCompleto',
      key: 'nombreCompleto',
    },
    {
      title: 'Correo',
      dataIndex: 'correo',
      key: 'correo',
    },
    {
      title: 'Contraseña',
      dataIndex: 'contrasenia',
      key: 'contrasenia',
    },
    {
      title: 'Acciones',
      dataIndex: 'acciones',
      key: 'acciones',
    },
  ];

  return (
    <Table dataSource={dataSource} columns={columns} />
  )
}



//</script>